@font-face{
	font-family: Manttulda Philliph;
	font-display: swap;
	src: url("../fonts/Manttulda Philliph.woff2") format("woff2"), url("../fonts/Manttulda Philliph.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Manttulda Philliph Italic;
	font-display: swap;
	src: url("../fonts/Manttulda Philliph Italic.woff2") format("woff2"), url("../fonts/Manttulda Philliph Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
